nav{
    margin-bottom: 30px;
}


.card{
    -webkit-box-shadow: 6px 9px 9px -7px rgba(0,0,0,0.31);
-moz-box-shadow: 6px 9px 9px -7px rgba(0,0,0,0.31);
box-shadow: 6px 9px 9px -7px rgba(0,0,0,0.31);
}

.card-header{
    font-size: 20px;
    padding: 3px 10px;
}

.card-body{
    padding: 10px;
}

.card-text{
    text-align: justify;
    font-size: 14px;
    display: inline;
}

.badge{
    float: right;
    position: relative;
    top: 5px;
    margin-left: 5px;
}

.badge a{
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.submittedBy{
    font-size: 12px;
    color: grey;
    margin-top: 5px;
}

.avatar{
    border-radius: 80px;
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 10px;
}

