body{
    background: url('https://1.bp.blogspot.com/-HGLIXpE9UsQ/Uh94RRadE7I/AAAAAAAAHVI/tU9EMm-8vCA/s640/Seamless-Background-Paper4.jpg');
    font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
    font-size: 12px;
}

.stcructureTitle{
    text-align: center;
}


nav{
    margin-bottom: 40px;
    width: 100%;
}

.list-group{
    min-width: 200px;
}

.sidebar{
    position: fixed;
    top: 100px;
}

.navbar{
    position:fixed;
    z-index: 1;
}

h1:first-child{
    margin-top: 90px;
    text-align: center;
}


#openscratchPad{
    margin-top: 10px;
}

#scratchpadArea{
    width: 100%;
    min-height: 400px;
}

.form-check input{
    margin: auto;
    position: relative;
    top: 3px;
}
.new{
    background:#66ffff;
    font-style:italic;
}

#commentTable  tr  td{
    vertical-align: middle;
}

.bold{
    font-weight:bold;
}


.aOffset{
    margin-top: -100px;
    padding-top: 100px;
}


.topicbadge{
    border-radius: 50%;
    color: white;
    height: 20px;
    line-height: 15px;
    width: 20px;
}

.approved{
    background: #00cc44;
    border-color: #00cc44;
}

.toneBadge{
    float: right;
    line-height: 12px;
    margin-left: 10px;
}

.newForm{
    margin-bottom: 10px;
}

.hidden{
    display: none;
}

.form-control{
    font-size: 12px;
}

#tone{
    margin-top:15px;
}

.note-editor{
    margin-top: 10px;
}

textarea{
    margin-top: 15px;
    min-height: 70px;
}

.toneLabel{
    margin-right: 20px;
}

.submitNewComment{
    margin:auto;
}

.submittedBy{
    color: white;
    margin-left: 30px;
}

.authorLink{
    color: white;
    font-weight: bold;
}

.commentId{
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

.form-check{
    display: inline;
}

.authorLink:hover{
    color: #ccc;
    text-decoration: none;
}

.card-header{
    padding: 3px;
}

.card{
    margin-bottom: 100px;
}

.card-body{
    padding: 0;
}

.copyBtn{
    padding: 1px 6px;
}

.shadow{
    box-shadow: 8px 10px 7px -7px rgba(0,0,0,0.43);
}

#select{
    font-size: 12px;
    height:25px;
    padding-left: 10px;
    padding: 0px;
}

.alert{
    margin-bottom: 10px;
    padding: 0.25rem 1.25rem;
}


