body{
    font-size: 12px;
    background: url('https://1.bp.blogspot.com/-HGLIXpE9UsQ/Uh94RRadE7I/AAAAAAAAHVI/tU9EMm-8vCA/s640/Seamless-Background-Paper4.jpg');
    font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
}

.stcructureTitle{
    text-align: center;
}

#select{
    height:25px;
    font-size: 12px;
    padding: 0px;
    padding-left: 10px;
}

nav{
    margin-bottom: 20px;
    width: 100%;
}

.list-group{
    min-width: 200px;
}

.sidebar{
    position: fixed;
    top: 100px;
}

.navbar{
    position:fixed;
    z-index: 1;
}

h1:first-child{
margin-top: 0;
}

.aOffset{
    padding-top: 100px;
    margin-top: -100px;
}


.topicbadge{
    width: 20px;
    height: 20px;
    color: white;
    border-radius: 50%;
    line-height: 15px;
}

.approvedCard{
background: #00cc44;
border-color: #00cc44;
}

.toneBadge{
float: right;
line-height: 12px;
margin-left: 10px;
}

.newForm{
    margin-bottom: 10px;
}

.hidden{
    display: none;
}

.form-control{
    height: 25px;
    font-size: 12px;
}

.note-editor{
    margin-top: 10px;
}

textarea{
    margin-top: 15px;
    min-height: 70px;
}

.toneLabel{
    margin-right: 20px;
}

.submitNewComment{
    margin:auto;
}

.submittedBy{
    color: white;
    margin-left: 30px;
}

.authorLink{
color: white;
font-weight: bold;
}

.commentId{
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

.form-check{
    display: inline;
}

.authorLink:hover{
    color: #ccc;
    text-decoration: none;
}

.card-header{
    padding: 3px;
}

.card-body{
    padding: 5px;
}

.copyBtn{
    padding: 1px 6px;
}

.shadow{
    box-shadow: 8px 10px 7px -7px rgba(0,0,0,0.43);
    -webkit-box-shadow: 8px 10px 7px -7px rgba(0,0,0,0.43);
    -moz-box-shadow: 8px 10px 7px -7px rgba(0,0,0,0.43);
}


